@namespace BlazorFluentUI
@inherits BFUComponentBase

<div class="root">
<div class=@($"mediumFont ms-Check{(Checked ? " is-checked" : "")}")>
    @if (UseFastIcons)
    {
            @if(Checked) {
                <BFUFontIcon IconName="icon-ic_fluent_checkmark_circle_24_regular"/>
            } else {
                <BFUFontIcon IconName="icon-ic_fluent_circle_24_regular"/>
            }
    }
    else
    {
        @if(Checked) {
                <BFUFontIcon IconName="icon-ic_fluent_checkmark_circle_24_regular"/>
        } else {
        <BFUFontIcon IconName="icon-ic_fluent_circle_24_regular"/>
        }

    }
</div>
</div>